.page-container{
  background-color: #1F2833;
  flex-grow: 1;
}

.login-signup-error {
  color: red;
}

.login-signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-signup {
  max-width: 280px;
}

.login-signup h1 {
  font-size: 60px;
  padding-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.login-signup .btn {
  width: 100%;
  margin-bottom: 25px;
}

.login-signup .material-icons {
  color: white;
}
