@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

/*body  {
  margin: 0;
  padding: 0;
  background-color: black;
} */

.login-signup-error {
  color: red;
}

.login {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login h1 {
  font-size: 60px;
  padding-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.login h3 {
  font-size: 25px;
  padding-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: rgb(92, 92, 92);
}

.form-control {
  font-family: Helvetica, 'FontAwesome', sans-serif;
  color: white;
  border-bottom: none;
  box-shadow: none;
  border-radius: 25px;
  text-indent: 20px;
  background-color: rgba(236, 236, 236, 0.3);
  margin-bottom: 30px;
}

.form-inline p {
  color: white;
  margin-top: -20px;
  margin-left: 5px;
  color: rgba(236, 236, 236, 0.8);
  font-size: 13px;
  margin-bottom: 20px;
}

.form-inline p:hover  {
  color: white;
  cursor: pointer;
}

.btn {
  width: 100%;
  background-color: #009900;
  border-radius: 25px;
  font-size: 20px;
  margin-bottom: 25px;
  text-transform: inherit;
  height: 45px;
}

#newAccount {
  background-color: rgba(0, 0, 0, 0.1);
  border: 4px solid white;
  line-height: 5px;

}

/* ------------------- Signup css -------------------- */

.Signup {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Signup h1 {
  font-size: 60px;
  padding-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.Signup i {
  font-size: 60px;
  padding-bottom: 30px;
  text-align: left;
  color: white;
}

#signup-form  {
  margin-bottom: -10px;
}

#signup-button  {
  margin-top: 10px;
}
