.page-container{
  background-color: #1F2833;
  height: 100%;
}

.login-signup-error {
  color: red;
}

.login-signup {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1F2833;
}

.login-signup h1 {
  font-size: 60px;
  padding-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.login-signup .btn {
  width: 100%;
  margin-bottom: 25px;
}

.login-signup .material-icons {
  color: white;
}
