.whiteboard {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 100%;
    flex-grow: 1;
    overflow: hidden;
}

.whiteboard .btn {
    width: 100%;
    margin-bottom: 15px;
}

.whiteboard-preload {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.toggle-mobile {
    display: none !important;
    position: absolute;
    top: 70px;
    left: 10px;
    width: 60px !important;
    z-index: 2;
}

.toggle-mobile .material-icons {
    transition: transform 0.2s;
}

.toggle-mobile .rotated-icon {
    transform: rotate(180deg);
}

.board {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background: white;
}

@media screen and (max-width: 993px) {
    .board {
        grid-column: 1 / 3;
        background: white;
    }

    .mobile-hidden {
        transform: translateX(-105%);
    }

    .toggle-mobile {
        display: inline !important;
    }

    .tools {
        margin-top: 50px;
    }
}

@media screen and (max-width: 600px) {
    .toggle-mobile {
        top: 62px;
    }
}
