.whiteboard {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 100%;
    flex-grow: 1;
    overflow: hidden;
}

.whiteboard-preload {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

@media screen and (max-width: 800px) {
    .whiteboard {
        grid-template-columns: auto;
    }

    .toolbox {
        display: none;
    }
}
