.menu-wrapper{
    background-color: #666869;
    color: white;
    text-align: left;
    vertical-align: center;
    margin-bottom: 0px;
    cursor: pointer;
}

.more-options-icon{
    font-size: 37px;
    color: #45A29E !important;
    margin-bottom:2px;
    margin-top:2px;
    position: absolute;
    right: 0;
}

.more-options-icon:hover {
    cursor: pointer;
}

.holder{
    height:200px;
    background-color: white;
}
.option{
    padding-left:5px;
    padding-bottom:2px;
    padding-top:2px;
}
.option:hover{
    background-color: #aeb1b3;
}

#close:hover {
    color: #b8bec2;
}

.option-contents {
    display: flex;
    align-items: center;
}

.card-content{
    height: 400px;
    width:  100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
#board-name-title{
    position: absolute;
    bottom: 0;
}

.card-title {
    width: 100%;
}
