.menu-wrapper{
    background-color: #666869;
    color: white;
    text-align: left;
    vertical-align: center;
    margin-bottom: 0px;
    cursor: pointer;
}

.more-options-icon{
    font-size: 37px;
    color: #45A29E !important;
    position: absolute;
    right: 0;
}

.more-options-icon:hover {
    cursor: pointer;
}

.holder{
    height:200px;
    background-color: white;
}
.option{
    padding-left:5px;
    padding-bottom:2px;
    padding-top:2px;
}
.option:hover{
    background-color: #aeb1b3;
}

.close-button:hover {
    color: #b8bec2;
}

.option-contents {
    display: flex;
    align-items: center;
}

.card .card-content{
    height: 400px;
    width:  100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding-bottom: 8px !important;
}

.card .card-reveal {
    overflow-y: hidden !important;
}

.card .whiteboard-name-container {
    align-self: flex-end;
}

.card .card-title {
    margin-bottom: 0 !important;
}

.card .card-title {
    width: 100%;
}

.card .card-preview {
    flex-grow: 1;
    overflow: hidden;
    align-self: stretch;
}

.card .card-preview svg {
    max-height: 100%;
    max-width: 100%;
}

.card .title-container {
    min-height: 32px;
}
