a{
    margin: 5px;
}
.nav-wrapper{
    background-color: #1F2833;
}
#person-icon{
    margin-left:30px;
    margin-right:30px;
    font-size: 30px;
}

#logo{
    margin-left:40px;
    color: white;
}
#sharebtn{
    padding-top: 10px;
    vertical-align: center;
}


