.nav-wrapper{
    background-color: #1F2833;
}

.logo-text {
    height: 100%;
    color: #fff;
}

.logo-img {
    height: 37px;
    margin-bottom: 6px;
}

.navitem-content {
    display: flex;
    align-items: center;
}
