.toolbox {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-right: 1px solid black;
}

.tools {
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
}

.tool-settings {
    margin-bottom: auto;
    border-top: 1px solid black;
}

.tool {
    height: 30px;
    margin: 5px;
}
