.toolbox {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-right: 1px solid black;
    background-color: #4e5156;
}


.tools {
    margin-top: 15px;
}

.tools .selected {
    background-color: #1d7d74;
}

.tool-settings {
    margin-bottom: auto;
    border-top: 1px solid black;
    color: white;
}

.tool-settings input[type="range"] {
    border: none;
}

.tool {
    height: 30px;
    margin: 5px;
}
